<ion-content>
  <div fxLayout="column" fxLayoutAlign="start wrap" fxLayoutGap="1.5rem" class="page-container">
    
    <h1 class="page-title">
      Lista de Produtos
    </h1>
    
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="0.5rem">
      <ion-button (click)="refresh()" color="light">
        <ion-icon slot="start" name="refresh-outline"></ion-icon>
        Atualizar
      </ion-button>
      <ion-button routerLink="/produtos/novo">
        <ion-icon slot="start" name="add-outline"></ion-icon>
        Novo Produto
      </ion-button>
    </div>
    
    <table mat-table [dataSource]="(produtos$ | async) || []" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let produto"> {{produto.id}} </td>
      </ng-container>
      
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let produto"> {{produto.nome}} </td>
      </ng-container>
      
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef> Tipo </th>
        <td mat-cell *matCellDef="let produto"> {{produto.tipo}} </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="['id', 'nome', 'tipo']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'nome', 'tipo']"></tr>
    </table>

  </div>

</ion-content>