<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button defaultHref="/produtos"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ currentProduto ? 'Editar Produto' : 'Novo Produto' }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div fxLayout="column" fxLayoutAlign="start wrap" fxLayoutGap="1.5rem" class="page-container">
    
    <form [formGroup]="produtoForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center wrap" fxLayoutGap="1.5rem">
      
      <ion-card>
        <ion-card-header>
          <ion-card-title>Informações do Produto</ion-card-title>
        </ion-card-header>
        <ion-card-content fxLayout="column" fxLayoutAlign="center wrap" fxLayoutGap=".5rem">
          <mat-form-field appearance="outline">
            <mat-label>Nome do Produto</mat-label>
            <input matInput type="string" formControlName="name">
          </mat-form-field>
          
          <mat-form-field appearance="outline">
            <mat-label>Preço</mat-label>
            <input matInput formControlName="price" prefix="R$" mask="separator.2" thousandSeparator="." [dropSpecialCharacters]="true">
          </mat-form-field>
          
          <mat-form-field appearance="outline">
            <mat-label>Quantidade em estoque</mat-label>
            <input matInput type="tel" formControlName="quantity">
          </mat-form-field>
        </ion-card-content>
      </ion-card>
      
      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="0.5rem">
        <ion-button routerLink="/produtos" color="light">
          <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
          Voltar
        </ion-button>
        <ion-button color="primary" type="submit" [disabled]="produtoForm.invalid || produtoForm.pristine">
          {{ currentProduto ? 'Atualizar Produto' : 'Criar Produto' }}
        </ion-button>
      </div>
      
    </form>
    
  </div>
</ion-content>

