<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Entrar
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div fxLayout="column" fxLayoutAlign="start wrap" fxLayoutGap="1.5rem" class="page-container">
      
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <ion-card>
          <ion-card-content fxLayout="column" fxLayoutAlign="center wrap" fxLayoutGap=".5rem">
            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input matInput formControlName="email" type="email">
            </mat-form-field>
            
            <mat-form-field appearance="outline">
              <mat-label>Senha</mat-label>
              <input matInput formControlName="password" type="password">
            </mat-form-field>
          </ion-card-content>
        </ion-card>
        
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="0.5rem">
          <ion-button color="light" routerLink="/auth/register">
            Cadastre-se
          </ion-button>
          <ion-button color="primary" type="submit" [disabled]="loginForm.invalid || loginForm.pristine">
            Entrar
          </ion-button>
        </div>

        <div class="inset-shadow-line"></div>

        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap=".5rem">
          <ion-text color="medium" size="small">Alternativamente, você pode:</ion-text>
          <ion-button color="primary" type="button" (click)="loginWithGoogle()">
            <ion-icon name="logo-google" slot="start"></ion-icon>
            Entrar com Google
          </ion-button>
        </div>
      </form>
      
    </div>
  </ion-content>
  